<!DOCTYPE HTML>
<html>

<head>

    <meta charset="UTF-8">


    <title>Tracing-App</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>

</body>
<table>
    <tbody>
    <th:foreach th:each="tracing: ${tracings}">

        <tr>
            <td th:style="'border-style: solid;border-color: blue;'" th:text="${tracing.sagaFrom}"></td>
            <td class="withArrow">
                <div th:text="${tracing.eventName}"/>
                <div>---------------------------&gt;</div>
            </td>
            <td th:style="'border-style: solid;border-color: green;'" th:text="${tracing.topic}"></td>
            <td class="withArrow">
                <div th:text="${tracing.eventName}"/>
                <div>---------------------------&gt;</div>
            </td>
            <td th:style="'border-style: solid;border-color: blue;'" th:text="${tracing.sagaTo}"></td>
        </tr>
        <tr>
            <td colspan="5" class="trenner">&nbsp;</td>
        </tr>
    </th:foreach>
    </tbody>
</table>

</html>
